<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

<router-outlet></router-outlet>
</div>


<!--<hr>
<br>
<h1 [ngStyle]="{color:status ? 'green' :'red'}">{{firstName}}</h1>
<h1 [ngClass]="{isActive:status}" >{{lastName}}</h1>

<h1 *ngIf="status; else notActive">{{firstName}}</h1>
<ng-template #notActive>
<p>not active</p>
</ng-template>

<ul>
<li *ngFor="let post of posts" >
  {{post.title}}

</li>

</ul> -->


<!-- <label for ="status" >Active</label>
{{getUserStatus()}}
<input type="radio" id="status" [checked]="status">



<button (click)=" greetPerson()" >Click me</button>

<br>
<hr>

<div (mouseover) ="mousingOver()" class="box">


</div>
<br>
<br>
<hr>

<input [(ngModel)] ="lastName" type="text" id="lname">
<h2>{{lastName}}</h2>
 -->





<!-- <h1> welcome to {{title}}!</h1>
<h2>{{firstName}}</h2>
<br>
<hr>
<h2>{{lastName}}</h2>

{{ city ? city : 'no city' }} -->